 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-background-color: #f6fff8;
    --primary-footer-color: #A4AC86;
    --primary-font: 'Roboto';
    --secondary-font: san-serif;
    --text-light: white;
    --text-dark: black;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--primary-footer-color);
    z-index: 2;
}
.header-logos-container {
    grid-row: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.header-logos {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.header-logos img {
    width: 40px;
    height: 40px;
 }
.nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    grid-column: 4;
}
#theme-switch {
    display: none;
}
body {
   display: grid;
   grid-template-columns: 250px 1fr;
   height: 100vh;
   margin: 0;
}
main {
    grid-column: 2;
}

footer {
    grid-row: 2;
    z-index: 1;
}
